/* HeroSectionNL.css */

/* Estilo general del contenedor */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/HEROSECTIONBG.webp'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #000;
    height: 100vh;
    text-align: center;
    padding: 20px;
    
  }
  
  /* Estilo del mensaje de bienvenida */
  .hero-message h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #ffffff;
    width: 400px;
    
  }
  
  .hero-message p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    width: 600px;
  }
  
  /* Estilo del botón de iniciar sesión */
  .btn-NLHERO {
    padding: 10px 10px;
    font-size: 1.3rem;
    background-color: #f04e23; /* Color cálido relacionado con la comida */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 55px;
    margin: 10px;
  }
  
  .btn-NLHERO:hover {
    background-color: #c03b1d;
  }
  
  .btn-NLHERO:focus {
    outline: none; /* Eliminar el contorno al hacer clic */
  }
  
  /* Estilo para el enlace de iniciar sesión */
  .hero-container .login-link {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #000;
    text-decoration: none;
  }
  
  .hero-container .login-link:hover {
    text-decoration: underline;
  }
  
