/* Definir las fuentes personalizadas */
@font-face {
  font-family: 'UberMoveMedium';
  src: url('./components/fonts/UberMoveMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UberMoveBold';
  src: url('./components//fonts/UberMoveBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Aplicar la fuente a todo el sitio web */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'UberMoveMedium', sans-serif; /* Usar UberMoveMedium en todo el sitio */
}

/* Asegura que el HTML y el body ocupen toda la pantalla */
html, body {
  height: 100%; /* Asegura que el contenido ocupe al menos la altura total de la pantalla */
  margin: 0;
  font-family: 'UberMoveMedium', sans-serif; /* Fuente global para todo el body */
}

/* Otras reglas globales */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor principal ocupe al menos toda la altura */
}

/* Estilos específicos adicionales */
.main-content {
  flex-grow: 1; /* Hace que el contenido crezca para ocupar el espacio restante */
  padding-bottom: 60px; /* Espacio para evitar que el contenido se superponga al footer */
  overflow: auto; /* Permite el scroll si el contenido excede el tamaño de la pantalla */
}

/* Estilo específico para la clase 'home' */
.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'UberMoveBold', sans-serif; /* Fuente en negrita para esta sección */
}

/* Estilo para el footer */
footer {
  background-color: #282828;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  transition: padding-bottom 0.3s ease;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-section {
  width: 30%;
  margin: 10px;
}

footer .footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer .footer-section p {
  font-size: 1rem;
}

footer .footer-section ul {
  list-style-type: none;
  padding: 0;
}

footer .footer-section ul li {
  margin: 5px 0;
}

footer .footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

footer .footer-section ul li a:hover {
  text-decoration: underline;
}

footer .footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
}
/* Asegúrate de que cada sección tenga la altura adecuada */
section {
  height: 100vh; /* Cada sección ocupará toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Estilos para las secciones específicas */
.section-goals {
  background-color: #f1f1f1; /* Puedes personalizarlo según el diseño */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.section-goals {
  animation: fadeIn 1s ease-out;
}
