/* ArticleSection.css */

.footer-container {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative; /* Asegura que el footer se comporte correctamente */
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}
/* Agrega una clase para el padding dinámico */
.footer-padding {
  padding-bottom: 200px; /* Aumenta el padding solo cuando sea necesario */
}
