.ubbytec-cities {
  margin-top: 80px;
  padding: 0 20px;
}

.ubbytec-cities h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 50px;
}

.city-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px 50px; /* Espacio vertical y horizontal entre las ciudades */
  text-align: left;
  padding-left: 50px;
  padding-bottom: 50px;
}

.city-item {
  font-size: 1em;
}
