/* HeroSection.css */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/HEROSECTIONBG.webp');
  background-size: cover;
  background-position: center;
  color: #000;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.welcome-message h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.welcome-message p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  width: 100%;
}

.search-bar input[type="text"] {
  padding: 15px;
  font-size: 1rem;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar select {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar .btn--primary {
  padding: 15px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar .btn--primary:hover {
  background-color: #444;
}

/* Autocomplete styles */
.autocomplete {
  position: relative;
  width: 100%;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

/* Estilo para el enlace de iniciar sesión */
.hero-container .login-link {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #000;
  text-decoration: none;
}

.hero-container .login-link:hover {
  text-decoration: underline;
}

.or-login {
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
